*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
yarn-error.log
references
Suivi.md
Suivi.md.backup
/.devcontainer
devcontainer.json
/tmp
/data
/docker
.config/opencode
.local/share/opencode
.local/state/opencode
TODO.md
Documentation.md
Regles_de_gestion.md
